.AlignCenter {
  position: absolute;
  left: 0;
  right: 0;
  width: calc(100vw - 215px);
  text-align: center;
  transform: translateX(195px);
  display: inline-block;
  top: 50%;
  padding: 30px;
  word-wrap: break-word;
}
