.Layout {
  width: calc(100vw - 215px);
  margin: 15px;
  max-height: calc(100vh - 30px);
  min-height: calc(100vh - 30px);
  /* display: inline-block; */
  float: left;
  overflow: auto;
  box-shadow: 0px 2px 13px #ccc;
}
